---
import navTh from '../data/nav.th.json';
import navEn from '../data/nav.en.json';
import LangSwitcher from './LangSwitcher.astro';
interface Props { lang: 'th' | 'en'; thHref?: string; enHref?: string; }
const { lang, thHref = '/blog', enHref = '/en/blogs' } = Astro.props;
const rawItems = (lang === 'en' ? navEn : navTh) as Array<{ title: string; link: string }>;
const items = rawItems.filter((i) => i.link !== '#pll_switcher');
---
<ul class="od-menu">
  {items.map((i) => (
    <li><a href={i.link}>{i.title}</a></li>
  ))}
  <li class="od-menu__lang"><LangSwitcher lang={lang} thHref={thHref} enHref={enHref} /></li>
</ul>
